extends ../layout.pug 

block content 
    .about_us(id="about_us")
        .container 
            .row 
                .img 
                    img(src="/images/building.jpg", alt="Loading . . .")
                .texts 
                    h1 About BlackHole
                    .section 
                        p
                            | BlackHole's first activity is on January 18, 2024 
                            a(href="https://t.me/blackholetm" target="_blank") "BlackHole"
                            |  channel launched. Channel founder — 
                            strong 
                                a(href="https://t.me/azizbek_jumaboyev" target="_blank") Azizbek Jumaboyev
                            | .

                        p By the company on July 18, 2025 
                            strong blackhole.uz
                            |  The domain name has been officially purchased for a period of 5 years.

                        p Although the BlackHole company is not yet officially registered, it consists of a team of enterprising young people working towards obtaining the status of a legal and official company in the Republic of Uzbekistan.
                        p BlackHole offers you the following services:
                        ul
                            li Developing high-quality and modern websites
                            li Creating functional and reliable bots for the Telegram platform

                        p
                            | If you would like to use our services, please read the following
                            strong “Using the Service”
                            |  Fill out the section. Once your questionnaire has been submitted, administrators will contact you shortly.
